<section>
  <div class="articles">
    <p>All Articles</p>
    <div class='article'>
      <% @presenter.each do |article| %>
        <p><%= article[:title] %></p>
        <p><%= article[:source][:name] %></p>
        <br>
      <% end %>
    </div>
  </div>
</section>
